.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  padding: 20px 50px;
  transition: all ease 1s;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.9rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  outline: none;
}

.new-expense__actions {
  display: flex;
  text-align: right;
  margin-top: 25px;
  margin-left: 400px;
  transition: linear ease 3s;
}
